project:
  type: website
  output-dir: docs

website:
  title: "Nicholas Chiumenti"
  navbar:
    right:
      - href: index.qmd
        text: About
      - href: resume.qmd
        text: Resume/CV
      - href: public.qmd
        text: Public

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



